<% include partials/header %>

<form action="/books/search" method="POST">
	<div class="input-group mb-3">
	  <input type="text" class="form-control" name="name" placeholder="Book name" aria-label="search">
	  <div class="input-group-append">
	    <button class="btn btn-outline-secondary" type="submit">Search</button>
	  </div>
	</div>
</form>	
<div class="row">
	<div class="col">
		<div class="row" >
			<% let x = 1; %>
			<% books.forEach(function(book){ %>
				<div class="col col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center ">
						<div class="card mb-3" style="width: 17rem;">
							<img class="card-img-top" src="/imgs/bg33.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title"><%= book.name %></h5>
								<p class="card-text">Author: <%= authors[x-1] %></p>
								<form action="/books/view" method="POST">
									<select class="custom-select" name="id" id="id" style="display: None;">
										<option value="<%= book._id %>">id</option>
									</select>
									<button class="btn btn-primary btn-sm" type="submit">View Book</button>
								</form>
							</div>
						</div>
				</div>
			<% x=x+1; }); %>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="list-group mb-3">
			<li class="list-group-item list-group-item-dark">User Panel</li>
			<a class="list-group-item list-group-item-action" href="/books/new">Add Book</a>
			<a class="list-group-item list-group-item-action" href="/books/newAuthor">Add Author</a>
			<a class="list-group-item list-group-item-action" href="/books/newPublisher">Add Publisher</a>
			<a class="list-group-item list-group-item-action" href="/members">View Members</a>
		</div>
		<div class="list-group">
				<li class="list-group-item list-group-item-dark">Manager Panel</li>
				<a class="list-group-item list-group-item-action" href="/users/">View Users</a>
				<a class="list-group-item list-group-item-action" href="#">View Branches</a>
				<a class="list-group-item list-group-item-action" href="#">View Jobs</a>
			</div>
	</div>
</div>

<% include partials/footer %>


